main {
    background-image: url(../assets/website\ bg.png);
    background-size: cover;
}

#hero {
    object-fit: contain;
}

#main-body {
    background-color: azure;
    border: 1px solid;
    padding: 1rem;
    box-shadow: 1rem 1rem;
}

#cta h1 {
    background-color: rgb(204, 145, 243);
    border: 1px solid;
    padding: 1rem;
    box-shadow: 1rem 1rem;
}

#contact-title h1 {
    background-color: rgb(204, 145, 243);
    border: 1px solid;
    padding: 1rem;
    box-shadow: 1rem 1rem;
}

#contact-me-img {
    object-fit: contain;
}